.slides {
	margin: 10px auto 0;
	width: 65%;
	height: 470px;
}

.slides__title {
	margin-top: 50px;
	text-align: center;
	font-size: 1.2rem;
	color: #31416d;
}

.slides__item {
	display: none;
}

.slides__item-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btnRight {
	display: block;
	margin: 0 auto 30px;
	font-size: 2.5rem;
	border: none;
	cursor: pointer;
}